<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'head' %>
    <%= stylesheet_link_tag 'guides' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top navbar-padded text-uppercase app-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed p-x-0" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <span>NQIS</span>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="/guides">Security Audits</a>
            </li>
            <li>
              <a href="/community">Community</a>
            </li>
            <li>
              <a href="https://github.com/nqis" target="_blank">Open Source</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container docs-content">
      <ul id="markdown-toc">
        <li></li>
        <li><%= guides_edit_article(current_page.source_file) %></li>

        <li class="toc-group">
          <span>Why NQIS</span>
          <ul>
            <li><a href="/guides/getting-started">Getting Started</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Security & Penetration Testing</span>
          <ul>
            <li><a href="/guides/audits/overview">Why Secure</a></li>
            <li><a href="/guides/audits/audits">What To Secure</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Digital Essentials</span>
          <ul>
            <li><a href="/guides/essentials/overview">Overview</a></li>
            <li><a href="/guides/essentials/what">Coverage</a></li>
            <li><a href="/guides/essentials/how">How</a></li>
          </ul>
        </li>
      </ul>

      <%= yield %>
    </div>

    <%= partial 'footer' %>
  </body>
</html>
